@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
